
.da_card {
width: 400px;
margin: 20px;
padding: 15px;
border: none;
border-radius: 20px;
background-color: transparent;
/*background-image: url(../img/giphy.gif);
background-image: url(../img/humo_color.png);*/
background-repeat: no-repeat;
background-size: contain;
color: white;
overflow: hidden;
}

.da_card::before {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-image:linear-gradient(-30deg, rgba(255, 255, 255, 0.4) 0px, rgba(0, 0, 0, 0.6) 50%, rgba(255, 255, 255, 0.4) 100%);
border-radius: 16px;
box-shadow: 0 30px 4px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);
border: 1px solid rgba(255, 255, 255, 0.65);
}

.da_card_container{
position: relative;
margin-left: auto;
margin-right: auto;
width: min-content;
margin-left: 50%;
transform: translateX(-50%);
}

.da_card_container img{
position: relative;
width: min-content;
max-height: 300px;
}

.da_card_container img:hover{
animation: balanceo 1s infinite linear;
}

.da_card_info{
position: relative;
margin-left: auto;
margin-right: auto;
width: max-content;       
}


@keyframes balanceo {
0% {
        transform: rotate(0deg);
}
33% {
        transform: rotate(10deg);
}
66%{
        transform: rotate(-10deg);
}
100%{
        transform: rotate(0deg);
}
}

.da_card-deck{
justify-content: center;
}