#info_footer{
        display: flex;
        width: -webkit-fill-available;
        justify-content: space-around;
        align-items: flex-start;
        background-color: black;
        height: 200px;
        border-top: 3px solid white;
        padding-top: 10px;
}

#info_footer div{
        display: block;
        width: 400px;
}

#info_footer h5{
        font-weight: 800;
        padding: 5px;
        background-color: rgb(67, 67, 67);
        text-align: center;
}

