.modal{
        opacity: 0;
        display: block;
        visibility: hidden;
        position: fixed;
        padding: 15px;
        z-index: 10000;
        left: 50%;
        top: 50%;
        width: 70%;
        height: 500px;
        overflow: none;
        transform: translate(-50%, -50%);
        background-color: rgba(#000,0.8);  
        transition: 0.3s ease-in-out;

       

}

.modalActive{
        opacity: 1;
        display: block;
        visibility: visible;
        position: fixed;
        padding: 15px;
        z-index: 10000;
        left: 50%;
        top: 50%;
        width: 70%;
        height: 500px;
        overflow: none;
        transform: translate(-50%, -50%);
        background-color:none;  
        transition: 0.3s ease-in-out;     
}

.modalActive::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 520px;
        background-image:linear-gradient(-30deg, rgba(150, 150, 150, 0.7) 0px, rgba(0, 0, 0, 0.8) 50%, rgba(150, 150, 150, 0.7) 100%);
        border-radius: 25px 0px 25px 0px;
        box-shadow: 0 30px 4px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        border: 1px solid rgba(255, 255, 255, 0.65);
}


.modal__body{
        overflow-y: auto;
        height: 400px;
}

.modal__body table{
        width: inherit;
        table-layout: fixed;
}

.modal__body table img{
        background-color: rgba(255,255,255,0.5);
        border-radius: 5px;
        width: 100%;
}

.modal__body, .modal__header, .modal__footer{
        position: relative;
}