body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
}


.da_card {
  border: none;
  border-radius: 20px;
  background-color: transparent;
  background-image: url(./img/humo_color.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
}
.da_card img{
  position: relative;
  left: -30%;
  max-height: 300px;
}

.da_card img:hover{
  max-height: 320px;
  animation: balanceo 1s infinite linear;
}

@keyframes balanceo {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
/*
.product-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.product-title {
  font-weight: bold;
  margin-bottom: 5px;
}
.add-to-cart-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}*/
      